body{
    margin: 0;
    font-family: Verdana;
    background-color: #FCEEDA;
}
::-webkit-scrollbar {
  width: 0;
}
.ghost{
    width: 24vw;
}
a{
    text-decoration: none;
    color: black;
}
/* шапка */
.header_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 58%;
    margin-top: 15px;
    font-size: 1vw;
}
header{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 6px 0 1px 0;
}
.menu_small_icon {
    display: none;
}
.stickMENU {
    width: 80%;
    height: 2px;
    background: black;
}
.menu-small {
    display: none;
    height: 2em;
}
.menu_small_item {
    display: none;
}
@media (max-width: 650px) {
    .header_name {
        display: none;
    }
    .menu-small {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        background: #FCEEDA;
        transform: translateX(100%);
        font-size: 3.47vw;
        z-index: 1000;
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        z-index: 100000;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        top: 0.6em;
        right: 1em;
        width: 15px;
        height: 10px;
        display: flex;
        z-index: 10000;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}
.logo{
    width: 2.6%;
    height: auto;
}
/* лицо */
.face{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.A{
    font-style: normal;
    font-weight: 400;
    font-size: 15.28vw;
    line-height: 50px;
    /* identical to box height, or 23% */
    
    color: #B98A52;
    
    filter: blur(7.5px);
    margin: 192px 0 255px 0;
}
.table{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: calc(40vh + 10px);
    z-index: 1;
}
.table img{
    width: 37%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #B98A52;
    font-size: 16px;
    padding: 223px 0 223px 0;
}
.card p{
    margin: 0 6% 50px 6%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.39vw;
    line-height: 63px;
}
.str{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.str img{
    width: 24vw;
    margin: 5px;
}
/* товары */
.product{
    background-color: #522C17;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height, or 208% */


    color: #FFFFFF;
}
.borders{
    margin: 30px 0 140px 0;
    z-index: 10000;
}
.cater{
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 50px;
    margin: 60px 0 28px 7.5vw;
}
.stick{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 330vh; */
    width: 100%;
    position: absolute;
    top: 2150px;
}
.stick img{
    width: 25.5%;
}
.imgP{
    width: 20%;
    filter: brightness(0.6);
}
.horizon{
    width: 46.5%;
    filter: brightness(0.6);
}
.ver{
    display: flex;
    justify-content: space-between;
    margin: 0 7.5vw;
}
.txt, .txtH, .txtH_right{
    position: absolute;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 390px;
}
.txt{
        width: 81%;
        margin-left: 2.4%;
}
.txtH{
    width: 35%;
    margin-left: 2.4%;
}
.txtH_right{
    width: 35%;
    margin-left: 48%;
    
}
.txt p, .txtH p, .txtH_right p{
    font-style: normal;
    font-weight: 700;
    font-size: 1.4vw;
}
/* информация */
.information{
    background-color: #230A07;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HEADINF{
    font-size: 2.78vw;
    line-height: 10.3vh;
    font-style: normal;
    font-weight: 400;
    margin-top: 35px;
}
.top{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 648vh;
}
.top img{
    width: 5%;
}
.name h1, .txtTWO h1{
    font-size: 2.50vw;
    font-style: normal;
    font-weight: 400;
}
.name p{
    font-size: 1.39vw;
    line-height: 250%;
    /* or 250% */
    width: 63%;
    text-align: center;
}
.name1, .name2{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.one-el{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.one-el img{
    height:50px;
    width: 9%;
}
.two-el{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: space-between;
}
.two-el img{
    width: 3.4%;
}
.txtTWO{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txtTWO p{
    font-size: 1.39vw;
    line-height: 250%;
    /* or 250% */

    text-align: center;
    width: 32.7%;
}
#map {
    height: 660px;
    width: 90%;
    margin: 95px auto;
}
/* подвал */
footer{
    background-color: #230A07;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 3.8% 50px 3.8%;
}
.list{
    display: flex;
    width: 41%;
    justify-content: space-between;
}
.heading h1, .heading p, .listmin p{
    font-style: normal;
    font-weight: 400;
}
.heading h1{
    font-size: 3.82vw;
}
.heading p{
    font-size: 1.11vw;
}
.listmin h3{
    font-style: normal;
    font-weight: 700;
    font-size: 1.11vw;
    line-height: 50px;
    /* identical to box height, or 312% */

    text-align: right;
}
.listmin p{
    font-size: 1.11vw;
    line-height: 40px;

    text-align: right;
}

@media (min-width: 320px) and (max-width: 375px){
    .logo{
        width: 12px;
        margin-left: 10px;
    }
    header{
        display: flex;
        justify-content: flex-start;
    }
    .header_name{
        width: 78%;
    }
    .A{
        filter: blur(2.5px);
        margin: 34px 0 33px 0;
    }
    .card{
        padding: 40px 0 62px 0
    }
    .card p{
        line-height: 20px;
        margin: 0 6% 13px 6%;
    }
    .table{
        top: 94px;
    }
    .str img{
        margin: 2px;
    }
    .stick{
        top: 502px;
    }
    .cater{
        margin: 0 0 0 7.5vw;
    }
    .borders{
        margin: 0 0 40px 0;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 62px;
    }
    .top{
        top: 1152px;
    }
    .HEADINF{
        margin-top: 10px;
    }
    .one-el img{
        height: 12px;
    }
    .two-el img{
        width: 5%;
    }
    .two-el{
        height: 114px;
    }
    #map{
        margin: 20px auto;
        height: 300px;
    }
    .listmin h3{
        line-height: 20px;
    }
    .listmin p{
        line-height: 15px;
    }
    footer{
        padding: 11px 3.8% 13px 3.8%;
    }
}
@media (min-width: 375px) and (max-width: 425px){
    .logo{
        width: 15px;
        margin-left: 10px;
    }
    .header_name a{
        font-size: 1.5vw;
    }
    .header_name{
        width: 80%;
    }
    header{
        display: flex;
        justify-content: flex-start;
    }
    .A{
        margin: 61px 0 55px 0;
        filter: blur(4.5px);
    }
    .card{
        padding: 40px 0 65px 0;
    }
    .card p{
        line-height: 25px;
        margin-bottom: 25px;
    }
    .str img{
        margin: 2px;
    }
    .table{
        top: 130px;
    }
    .cater{
        margin: 0 0 0 7.5vw;
    }
    .borders{
        margin: 15px 0 40px 0;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 75px;
    }
    .stick{
        top: 610px;
    }
    .one-el img{
        height: 14px;
    }
    .HEADINF{
        margin-top: 20px;
    }
    .two-el img{
        width: 6%;
    }
    .two-el{
        height: 145px;
    }
    #map{
        margin: 20px auto;
        height: 300px;
    }
    .top{
        top: 1353px;
    }
    .listmin h3{
        line-height: 17px;
    }
    .listmin p{
        line-height: 15px;
    }
    footer{
        padding: 20px 3.8%;
    }
}
@media (min-width: 425px) and (max-width:767px){
    .logo{
        width: 15px;
        margin-left: 10px;
    }
    .header_name a{
        font-size: 1.5vw;
    }
    .header_name{
        width: 80%;
    }
    header{
        display: flex;
        justify-content: flex-start;
    }
    .A{
        margin: 61px 0 55px 0;
        filter: blur(4.5px);
    }
    .card{
        padding: 55px 0 65px 0;
    }
    .card p{
        line-height: 25px;
        margin-bottom: 25px;
    }
    .str img{
        margin: 2px;
    }
    .table{
        top: 130px;
    }
    .cater{
        margin: 0 0 0 7.5vw;
    }
    .borders{
        margin: 15px 0 40px 0;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 92px;
    }
    .stick{
        top: 660px;
    }
    .one-el img{
        height: 14px;
    }
    .HEADINF{
        margin-top: 20px;
    }
    .two-el img{
        width: 5%;
    }
    .two-el{
        height: 155px;
    }
    #map{
        margin: 20px auto;
        height: 300px;
    }
    .top{
        top: 1462px;
    }
    .listmin h3{
        line-height: 17px;
    }
    .listmin p{
        line-height: 15px;
    }
    footer{
        padding: 20px 3.8%;
    }
}
@media (min-width: 768px) and (max-width:1024px){
    .logo{
        width: 27px;
    }
    .header_name a{
        font-size: 1.5vw;
    }
    .header_name{
        width: 65%;
        margin-top: 13px
    }
    .A{
        margin: 120px 0 120px 0;
        filter: blur(8.5px);
    }
    .card{
        padding: 111px 0 131px 0;
    }
    .card p{
        line-height: 47px;
        margin-bottom: 45px;
    }
    .str img{
        margin: 4px;
    }
    .table{
        top: 214px
    }
    .cater{
        margin: 20px 0 20px 7.5vw;
    }
    .borders{
        margin: 32px 0 84px 0;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 183px;
    }
    .stick{
        top: 1202px
    }
    .one-el img{
        height: 26px;
    }
    .HEADINF{
        margin-top: 35px;
    }
    .two-el img{
        width: 5%;
    }
    .two-el{
        height: 270px;
    }
    #map{
        margin: 20px auto;
        height: 300px;
    }
    .top{
        top: 2665px;
    }
    .listmin h3{
        line-height: 17px;
    }
    .listmin p{
        line-height: 25px;
    }
    footer{
        padding: 30px 3.8%;
    }
}
@media (min-width: 1024px) and (max-width:1439px){
    .logo{
        width: 27px;
    }
    .header_name a{
        font-size: 1.3vw;
    }
    .header_name{
        width: 65%;
        margin-top: 13px
    }
    .A{
        margin: 148px 0 148px 0;
        filter: blur(11.5px);
    }
    .card{
        padding: 131px 0 165px 0;
    }
    .card p{
        line-height: 60px;
        margin-bottom: 45px;
    }
    .str img{
        margin: 5px;
    }
    .table{
        top: 239px
    }
    .cater{
        margin: 30px 0 30px 7.5vw;
    }
    .borders{
        margin: 44px 0 120px 0;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 252px;
    }
    .stick{
        top: 1495px;
    }
    .one-el img{
        height: 33px;
    }
    .HEADINF{
        margin-top: 50px;
    }
    .two-el img{
        width: 5%;
    }
    .two-el{
        height: 376px;
    }
    #map{
        margin: 40px auto;
        height: 400px;
    }
    .top{
        top: 3417px;
    }
    .listmin h3{
        line-height: 17px;
    }
    .listmin p{
        line-height: 25px;
    }
    footer{
        padding: 30px 3.8%;
    }
}
@media (width: 640px){  /*Microsoft Lumia 550*/
    
    .A{
        margin: 60px 0 90px 0;
        filter: blur(4.5px);
    }
    .card{
        padding: 100px 0 110px 0;
    }
    .card p{
        line-height: 25px;
        margin-bottom: 25px;
    }
    .str img{
        margin: 2px;
    }
    .table{
        top: 130px;
    }
    
    .txt, .txtH, .txtH_right{
        margin-top: 150px;
    }
    .stick{
        top: 910px;
    }
    .one-el img{
        height: 21px;
    }
    .HEADINF{
        margin-top: 20px;
    }
    .two-el img{
        width: 5%;
    }
    .two-el{
        height: 235px;
    }
    
    .top{
        top: 1990px;
    }
    
}
@media (min-width: 400px) and (max-width: 420px){  /*iPhone XR*/
    .table{
        top: 122px;
    }
    .stick {
        top: 636px;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 87px;
    }
    .top{
        top: 1423px;
    }
    .HEADINF{
        margin-top: 25px;
        line-height: 3vh;
    }
}
@media (min-width: 340px) and (max-width: 400px){ /*iPhone 12 Pro*/
    .stick{
        top: 620px
    }
    .table{
        top: 125px
    }
    .top{
        top:1377px;
    }
    .HEADINF{
        line-height: 40px;
    }
}
@media (min-width: 340px) and (max-width: 380px){ /*Samsung Galaxy S8*/
    .table{
        top: 85px;
    }
    .stick{
        top: 522px;
    }
    .top{
        top:1230px
    }
}
@media (min-width: 800px) and (max-width: 840px){ /*iPad Air*/
    .stick{
        top: 1237px;
    }
    .top{
        top: 2765px;
    }
    .HEADINF{
        line-height: 65px;
    }
}
@media (min-width: 890px) and (max-width: 920px){ /*Surface Pro 7*/
    .card{
        padding-top: 140px;
    }
    .stick{
        top: 1320px;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 220px;
    }
    .top{
        top: 2973px
    }
    .HEADINF{
        line-height: 70px;
    }
    .two-el{
        height: 320px;
    }
}
@media (width: 540px){ /*Surface Duo*/
    .table{
        top: 125px;
    }
    .A{
        margin-bottom: 78px;
    }
    .card {
        padding: 63px 0 86px 0;
    }
    .stick{
        top: 780px;
    }
    .txt, .txtH, .txtH_right{
        margin-top: 120px;
    }
    .top{
        top: 1728px
    }
    .HEADINF{
        line-height: 55px;
    }
    .two-el {
        height: 200px;
    }
}
@media (min-width: 1260px) and (max-width: 1300px){ /*Nest Hub Max*/
    .A{
        margin: 184px 0;
    }
    .card {
        padding: 163px 0 194px 0;
    }
    .table{
        top: 268px;
    }
    header{
        padding-bottom: 10px;
    }
    .logo{
        margin-top: 6px;
    }
    .stick{
        top: 1806px
    }
    .txt, .txtH, .txtH_right{
        margin-top: 323px;
    }
    .top{
        top:4048px;
    }
    .H{
        line-height: 75px;
    }
    .two-el{
        height: 450px;
    }
}